@model FirstTouchDashBoard.Models.ExtendedCertificates

@{
    ViewBag.Title = "Index";
}

<h2>Certificates</h2>





<form>
    <fieldset>
        Certificate Type <select id="CertificateType" name="filterCertType" value="@(ViewBag.filterCertType)">


            <option>Gas Service</option>
            <option>Electrical installation certificate com</option>
            <option selected="selected">Both</option>
        </select>

    </fieldset>

    <p>

    </p>
    <p>
        Property ID: <input type="text" name="filterPropId" value="@(ViewBag.filterPropId)">

    </p>
    <p>
        Post Code: <input type="text" name="filterPostCode" value="@(ViewBag.filterPostCode)">

    </p>
    <p>
        UPRN : <input type="text" name="filterUprn" value="@(ViewBag.filterUprn)">

    </p>
    <p>
        <input type="submit" value="Filter" />
    </p>
    @if (ViewBag.numberOfResults == "top50")
    {
        <a href="@Url.Action("Index", new { page = int.Parse(TempData["page"].ToString()), SortOrder = ViewBag.propertyid, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn, numberOfResults = "allResults" })"
           class="btn btn-default">
            <strong>View all certificates</strong><br /><br />

        </a>
    }
    @if (ViewBag.numberOfResults == "allResults")
    {
        <a href="@Url.Action("Index", new { page = int.Parse(TempData["page"].ToString()), SortOrder = ViewBag.propertyid, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn, numberOfResults = "top50" })"
           class="btn btn-default">
            <strong>View top 50 results</strong><br /><br />

        </a>
    }
    @if (int.Parse(TempData["page"].ToString()) < int.Parse(TempData["Maxpage"].ToString()))
    {
        <a href="@Url.Action("Index", new { page = int.Parse(TempData["page"].ToString()) + 1 ,  SortOrder = ViewBag.propertyid , filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn })"
           class="btn btn-default">
            Next 50 &raquo <br /><br />
        </a>
    }

    @if (int.Parse(TempData["page"].ToString()) > 0)
    {

        <a href="@Url.Action("Index", new { page = int.Parse(TempData["page"].ToString()) - 1 ,  SortOrder = ViewBag.propertyid , filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn})"
           class="btn btn-default">
            &laquo Prev
        </a>
    }


</form>
<div class="container">
    <h2>Certificates</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                @Html.ActionLink("Property ID", "Index", new { SortOrder = ViewBag.propertyid, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn })
            </th>
            <th>
                @Html.ActionLink("UPRN", "Index", new { SortOrder = ViewBag.uprn, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn })
            </th>
            <th>
                @Html.ActionLink("Address Line 1", "Index", new { SortOrder = ViewBag.addressline1, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn })
            </th>
            <th>
                @Html.ActionLink("Certificate Type", "Index", new { SortOrder = ViewBag.certtype, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn })
            </th>
            <th>
                @Html.ActionLink("Post Code", "Index", new { SortOrder = ViewBag.postcode, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn })
            </th>
            <th>
                @Html.ActionLink("Operative Name", "Index", new { SortOrder = ViewBag.operativename, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn })
            </th>
            <th>
                @Html.ActionLink("Trade Group", "Index", new { SortOrder = ViewBag.tradegroup, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn })
            </th>
            <th>
                @Html.ActionLink("EDOCS ref", "Index", new { SortOrder = ViewBag.eDocsRef, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn  })
            </th>
            <th>
                @Html.ActionLink("Status", "Index", new { SortOrder = ViewBag.status, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn  })
            </th>
            <th>
                @Html.ActionLink("Date and Time", "Index", new { SortOrder = ViewBag.datetime, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn  })
            </th>
            <th>
                @Html.ActionLink("Cause", "Index", new { SortOrder = ViewBag.cause, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn  })
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.lCertificates)
        {
            <tr>
                <td>
                    @if (item.propertyid != null)
                 {
                @Html.DisplayFor(modelItem => item.propertyid)
                    }
                        else
                    {
                <p> ------- </p>
                    }
                </td>
                <td>
                    @if (item.uprn != null)
                     {
                @Html.DisplayFor(modelItem => item.uprn)
                     }
                    else
                    {
                <p> ------- </p>
                    }
                </td>
                <td>
                    @if (item.addressline1 != null)
                     {
                @Html.DisplayFor(modelItem => item.addressline1)
                    }
                        else
                    {
                <p> ------- </p>
                    }
                </td>
                <td>
                    @if (item.certtype != null)
                    {
                @Html.DisplayFor(modelItem => item.certtype)
                         }
                         else
                         {
                             <p> ------- </p>
                         }
                </td>
                <td>
                    @if (item.postcode != null)
    {
                @Html.DisplayFor(modelItem => item.postcode)
                }
                else
                {
                                <p> ------- </p>
                }
                </td>
                <td>
                    @if (item.operativename != null)
    {
                @Html.DisplayFor(modelItem => item.operativename)
                        }
                        else
                        {
                                        <p> ------- </p>
                        }
                </td>
                <td>

                    @if (item.tradegroup != null)
                    {
                        @Html.DisplayFor(modelItem => item.tradegroup)
                    }
                    else
                    {
                        <p> ------- </p>
                    }
                </td>
                <td>
                    @if (item.eDocsRef != null)
                    {
                        @Html.ActionLink(item.eDocsRef, "Index", new { SortOrder = ViewBag.cause, filterCertType = ViewBag.filterCertType, filterPostCode = ViewBag.filterPostCode, filterPropId = ViewBag.filterPropId, filterUprn = ViewBag.filterUprn, folderId = item.eDocsRef });
                    }
                   else
                    {
                        <p> ------- </p>
                    }

                </td>
                <td>
                    @if (item.status != null)
                    {
                        @Html.DisplayFor(modelItem => item.status)
                    }
                    else
                    {
                        <p> ------- </p>
                    }
                </td>
                <td>
                    @if (item.datetime != null)
                    {
                        @Html.DisplayFor(modelItem => item.datetime)
                    }
                    else
                    {
                        <p> ------- </p>
                    }
                </td>
                <td>
                    @if (item.cause != null)
                    {
                        @Html.DisplayFor(modelItem => item.cause)
                    }
                    else
                    {
                        <p> ------- </p>
                    }
                </td>

            </tr>
        }

        </tbody>
    </table>
    <h3>Page :@TempData["page"]</h3>
    </div>>
