@model IEnumerable<FirstTouchDashBoard.Models.FirstTouchCertificateUser>

@{
    ViewBag.Title = "Index";
}

<h2>Administration Tab</h2>

<p>
    @Html.ActionLink("Add User", "Create")
</p>
<h1>Hello @ViewBag.uname !</h1>
<table class="table">
    <tr>
        <th>
            
			First name
        </th>
        <th>
            Surname
        </th>
        <th>
            User ID
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

